/* #region BASE */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: #434455;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-family: inherit;
    color: currentColor;
}
address {
    font-style: normal;
}

button {
    font-family: inherit;
    cursor: pointer;
}

/* #endregion BASE */

/* #region COMPONENTS */

/* #endregion COMPONENTS */

/* #region HEADER */
.header {
    color: #2e2f42;
}
.header-nav {
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.span-logo {
    color: #2e2f42;
}
.header-list {
}

.header-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-link:hover,
.header-link:focus {
    color: #404bbf;
}

.address {
}
.address-list {
}
.address-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

/* #endregion HEADER */

/* #region HERO */

.hero {
    background-color: #2e2f42;
}
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.btn-hero {
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}

.btn-hero:hover,
.btn-hero:focus {
    background-color: #404bbf;
}
/* #endregion HERO */

/* #region BENEFITS */

.benefits {
}
.benefits-list {
}
.benefits-item {
}
.benefits-h {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.benefits-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* #endregion BENEFITS */

/* #region TEAM */

.team {
    background-color: #f4f4fd;
    color: #2e2f42;
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}
.tealm-list {
}
.team-item {
    background-color: #fff;
}
.team-h {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
}
.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

/* #endregion TEAM */

/* #region PORTFOLIO */

.porfolio {
    color: #2e2f42;
}
.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}
.portfolio-list {
}
.portfolio-item {
}
.portfolio-h {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* #endregion PORTFOLIO */

/* #region FOOTER */
.footer {
    background-color: #2e2f42;
    color: #f4f4fd;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-logo .span-logo {
    color: #f4f4fd;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* #endregion FOOTER */
